<header>
  <div class="filter-list">
   <a class="btn btn-expand" routerLink="/view2">
       <span class="arrow">></span> 
    </a>
   <div class="department-list">
     <div class="department">
       <div class="dept-name">All Departments</div>
       <div class="subjects-wrapper">
         <div class="subject-name active">All Subjects</div>
       </div>
     </div>
   </div>
  </div>
</header>
<section>
  <div class="data-wrapper">
    <ul class="filtered-student" >
            <li *ngFor="let item of studentData; let i =index">
              <span class="name">{{item.familyName}}, {{item.givenName}}</span>
              <span class="dob">DOB:
              <span class="value">{{item.dob | date: 'dd/MM/yyyy'}}</span>
              </span>
              <span class="admit-date">Admitted:
              <span class="value">
                {{item.admitDate | date: 'MMM dd,yyyy'}}
              </span>
              </span>
              <span class="admit-date">Anticipated Graduation:
              <span class="value">
                {{item.anticipatedGraduationDate | date: 'MMM yyyy'}}
              </span>
              </span>
              <span class="admit-date">Mentor:
              <span class="value">
                {{item.mentor.familyName}}, {{item.mentor.givenName}}
              </span>
              </span>
        </li>
    </ul>
  </div>
</section>  
